*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*navbar*/
nav{
    background-color:#3CB371;
 
}

.navbar-nav{
margin-left: auto;
width: auto;
}


.nav-link:hover{
    color: #f4f4f4;
}
/*homepage*/
.container-fluid-header{
    color: #f4f4f4;
    background-color: black;
margin-top: 59px;
min-height:779px;
 background-image: linear-gradient(to right, rgba(0,0,0,0.5), black), url(images/coding-3.jpg);
 background-size: cover; /* Imposta la dimensione dell'immagine per coprire l'intero contenitore */
 background-position: center; /* Centra l'immagine all'interno del contenitore */
 backdrop-filter: blur(5px); /* Applica un effetto di sfocatura solo all'immagine di sfondo */
}

.p-3{
    
   width: 100%;
   height: 700px;
  
}

.header-text{
    padding-top:50%
}

.heading-secondary{
       background-image: linear-gradient(to right,#3CB371, #f4f4f4); 
       background-clip: text; 
        color: transparent; 
        
        
}

.header-button{
 text-align: center ;
}

.header-btn{
    background-color: #3CB371;
    border-color: transparent;
    color: #f4f4f4;
}

.header-btn:hover,
.header-btn:active{
    background-image: linear-gradient(to left,#3CB371, #f4f4f4); 
    background-clip: text; 
     color: transparent; 
     border-color:#3CB371;
    
}
/*about*/
.container-fluid-about{
    min-height:820px;
    padding-top: 50px;
    background-image: linear-gradient(to top, rgba(60, 179, 113, 0.5), #FFFFFF);
    }
    
    
    .skills{
        margin-top: 50px;
       
    }
    
    .col{
        padding-top: 20px;
       
        height: 500px;
        max-width:100%;    
    }
    
    .progress-bar{
        background-color: #3CB371;
    }
    
    .heading-tertiary{
        margin-top: 5px;
        margin-bottom: 15px;
        color: #3CB371;
    }
/*my intrests*/    
.container-fluid-interests{
    background-color:#FFFFFF;
    min-height:830px;
    padding-top: 50px;
}

.cards-container{
   display: flex;
   flex-wrap: wrap;
  margin-top: 100px;
}

.card{
    border: 1px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(50, 51, 51, 0.5);
    width:30%;
    margin:10px ;
 box-sizing:border-box;
 margin: 0 auto;
}
.card-img-top{
    max-width: 70%;
    display: block;
    margin: 0 auto;
}
/*projects*/
.container-fluid-projects{
    padding-top: 20px;
min-height: 820px;
background-color:black;
align-items: center;
}

.projects-container{
   flex-wrap: wrap;
    
}

.projects-column{
    color: white;
    border: 1px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(60, 179, 113, 0.5);
    text-align: center;
  
}

.work-in-progress{
max-width: 70%;
padding-top: 40px;
}

.container-fluid-contact{
    min-height: 760px;
}
/*footer*/
.container-fluid-footer {
    color: rgb(197, 197, 197);
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 20px;
}

.footer-icon {
    font-size: 2rem;
    margin-left: 10px;
    background-color: black;
    color: #FFFFFF;

}

.footer-icon:hover {
    background-image: linear-gradient(to top, rgba(60, 179, 113, 0.5), #f4f4f4);
    background-clip: text;
    color: transparent;
}
@media only screen and (max-width: 768px) {
    .container-fluid-header{
        background-image: linear-gradient(to left, rgba(0,0,0,0.5), black), url(images/coding-3.jpg);
    }
.heading-secondary{
    color: #FFFFFF;
}

  .container-fluid-about{
   background-image: linear-gradient(to bottom, rgba(60, 179, 113, 0.5), #f4f4f4);  
  }

  .card {
    width: 100%; /* Imposta la larghezza al 100% per farle allineare una sotto l'altra */
    margin: 10px 0; /* Riduci il margine verticale per separare le carte */
     
}
.card-img-top {
    max-width: 30%;
    max-height: 200px; 
    display: flex;
    margin: 0 auto;
}

.projects-column{
    width: 40%;
    margin: auto;
   text-align: center;
}
}